<div class="container catalog_page">
  <div class="row">

      <% unless @products.nil? %>

        <% @products.each { |product| %>
            <div class="col-sm-3 product">
              <strong><%= link_to product.name, product_url( product.id ) %></strong><br>
              <%= product.price %> руб.
            </div>
        <% } %>

      <% else %>
          <p>Магазин без продуктов</p>
      <% end %>

  </div>
</div>